.map-card {
  padding: 0;
  overflow: hidden;
}

.map-header {
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .map-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

#map {
  width: 100%;
  height: min(70vh, 600px);
  border-radius: 32px 32px 0 0;
  overflow: hidden;
}

#map-status {
  border-radius: 0 0 24px 24px;
  border: none;
  margin: 0;
}
